
<div class="page-header">
  <h1>Login</h1>
</div>
<div class="alert alert-danger alert-dismissible" role="alert" *ngIf="invalid">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
  Login Failed!
</div>
<div *ngIf="loggedIn">You are logged in!</div>
<form #f="ngForm" (submit)='login(f.value)' *ngIf="!loggedIn">
  <div ngControlGroup='credentials' #credentials="ngForm">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Username</span>
      <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" ngControl="username">
    </div>
    <br/>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Password</span>
      <input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" ngControl="password">
    </div>
  </div>
  <hr/>
  <div class="input-group">
    <span class="input-group-btn">
      <button type='submit' class="btn btn-default">Login</button>
    </span>
  </div>
</form>
